*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;

    background-image:url("image/image.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

.login-box{
    width:350px;
    background:rgba(255,255,255,.08);
    backdrop-filter:blur(10px);
    padding:40px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 0 20px cyan;
}

.login-box h1{
    color:cyan;
    margin-bottom:30px;
}

input{
    width:100%;
    padding:14px;
    margin:12px 0;
    border:none;
    outline:none;
    border-radius:30px;
    background:#1e293b;
    color:white;
    font-size:16px;
}

input::placeholder{
    color:#bbb;
}

button{
    width:100%;
    padding:14px;
    margin-top:20px;
    border:none;
    border-radius:30px;
    background:cyan;
    color:black;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:white;
    box-shadow:0 0 20px cyan;
    transform:scale(1.05);
}

p{
    color:white;
    margin-top:20px;
}

a{
    color:cyan;
    text-decoration:none;
    font-weight:bold;
}

a:hover{
    text-decoration:underline;
}